.img {
  width: 30%;
  border-radius: 80px;
  box-sizing: border-box;
  height: 250px;
  object-fit: cover;
}
.listItem-wrap header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
  align-items: center;
}

.listItem-wrap header span {
  font-size: 0.7rem;
  background-color: #cdcadd;
  padding: 0.5rem;
  border-radius: 10px;
}
.listItem-wrap footer {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listItem-wrap footer p:first-child span {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 600;
}

.clinicinfo {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; */
 
}

.doctor{
  
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}
/* .doctor{
  display: 'grid';
  grid-Template-Columns: 'repeat(4, 1fr)';
  grid-Template-Rows: 'repeat(6, 1fr)';
  gap: '10px'; /* add some gap between grid items 
} */

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 2px solid;
  border-radius:25px ;
  border-color: rgb(208, 203, 203);
  background-color: #e1e0e4;
}

.item2 {
  grid-column-start: 3;
  grid-column-end: 7;
  border: 2px solid;
  border-radius:25px ;
  border-color: rgb(208, 203, 203);
  background-color: whitesmoke;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* total of 8 columns */
  grid-gap: 10px; /* gap between grid items */
}
.description{


}
.det{
  
}

.image{
  width: 30%;
  border-radius: 80px;
  box-sizing: border-box;
  height: 150px;
  object-fit: cover;
  margin-left: 35%;
  margin-bottom: 5%;
  
}
.h4{
  display: flex;
  padding-left: 10px;
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: -webkit-body;
  font-size: x-large;
}
.ss{
  display: flex;
  padding-left: 10px;
  font-family: -webkit-body;
  font-size: x-large;
  margin-top: 10px;
  
}
.add{
  display: flex;
  font-family: 'Cormorant Garamond', serif;
  padding-left: 10px;
  font-size: 20px;
  /* margin-top: 15px; */
}
.par{
margin-top: 12px;
margin-left: 10px;
}

#mm{
  font-family: -webkit-body;
  font-size: x-large;
  margin-top: 10px;
  margin-left: 32%;
  display: flex;
  margin-bottom: 22px;
}
#button{
  border-radius: 10px;
  font-size: large;
  margin-top: 20px;
  margin-left: 65%;
  margin-bottom: 10px;

}
#button:hover {
  background-color: rgb(127, 226, 102);
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}





